{{#extend "content"}}
<div class="jumbotron">
	<div class="container">
		<h1 class="display-4">Yggdrasil HBS Starter</h1>
		<p>This application is made with @yggdrasil architecture and HBS expressjs view engine.</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md">
			<p>
				<b>Yggdrasil</b> (
				<span class="nowrap">
					<span class="IPA nopopups noexcerpt">
						<a href="https://en.wikipedia.org/wiki/Help:IPA/English" target="_blank" title="Help:IPA/English">/
							<span style="border-bottom:1px dotted">
								<span title="/ˈ/: primary stress follows">ˈ</span>
								<span title="/ɪ/: 'i' in 'kit'">ɪ</span>
								<span title="/ɡ/: 'g' in 'guy'">ɡ</span>
								<span title="'d' in 'dye'">d</span>
								<span title="'r' in 'rye'">r</span>
								<span title="/ə/: 'a' in 'about'">ə</span>
								<span title="'s' in 'sigh'">s</span>
								<span title="/ɪ/: 'i' in 'kit'">ɪ</span>
								<span title="'l' in 'lie'">l</span>
							</span>/</a>
					</span>
				</span> or
				<span class="nowrap">
					<span class="IPA nopopups noexcerpt">
						<a href="https://en.wikipedia.org/wiki/Help:IPA/English" target="_blank" title="Help:IPA/English">/
							<span style="border-bottom:1px dotted">
								<span title="/ˈ/: primary stress follows">ˈ</span>
								<span title="/ɪ/: 'i' in 'kit'">ɪ</span>
								<span title="/ɡ/: 'g' in 'guy'">ɡ</span>
								<span title="'d' in 'dye'">d</span>
								<span title="'r' in 'rye'">r</span>
								<span title="/ə/: 'a' in 'about'">ə</span>
								<span title="'z' in 'zoom'">z</span>
								<span title="/ɪ/: 'i' in 'kit'">ɪ</span>
								<span title="'l' in 'lie'">l</span>
							</span>/</a>
					</span>
				</span>; from
				<a href="https://en.wikipedia.org/wiki/Old_Norse" target="_blank" title="Old Norse">Old Norse</a>
				<b>
					<i>
						<span lang="non" xml:lang="non">Yggdrasill</span>
					</i>
				</b>, pronounced
				<span title="Representation in the International Phonetic Alphabet (IPA)" class="IPA">
					<a href="https://en.wikipedia.org/wiki/Help:IPA" target="_blank" title="Help:IPA">[ˈyɡːˌdrasilː]</a>
				</span>) is an immense
				<a href="https://en.wikipedia.org/wiki/Trees_in_mythology" target="_blank" title="Trees in mythology">mythical tree</a> that connects the nine worlds in
				<a href="https://en.wikipedia.org/wiki/Norse_cosmology" target="_blank" title="Norse cosmology">Norse cosmology</a>.</p>
			<p>Yggdrasil is attested in the
				<i>
					<a href="https://en.wikipedia.org/wiki/Poetic_Edda" target="_blank" title="Poetic Edda">Poetic Edda</a>
				</i>, compiled in the 13th century from earlier traditional sources, and the
				<i>
					<a href="https://en.wikipedia.org/wiki/Prose_Edda" target="_blank" title="Prose Edda">Prose Edda</a>
				</i>, written in the 13th century by
				<a href="https://en.wikipedia.org/wiki/Snorri_Sturluson" target="_blank" title="Snorri Sturluson">Snorri Sturluson</a>. In both sources, Yggdrasil is an immense
				<a href="https://en.wikipedia.org/wiki/Fraxinus_excelsior" target="_blank" title="Fraxinus excelsior">ash tree</a> that is center to the cosmos and considered very holy. The
				<a href="https://en.wikipedia.org/wiki/%C3%86sir" target="_blank" title="Æsir">gods</a> go to Yggdrasil daily to assemble at their
				<a href="https://en.wikipedia.org/wiki/Thing_(assembly)" target="_blank" title="Thing (assembly)">things</a>. The branches of Yggdrasil extend far into the heavens, and the tree is supported by three roots that extend
				far away into other locations; one to the well
				<a href="https://en.wikipedia.org/wiki/Ur%C3%B0arbrunnr" target="_blank" title="Urðarbrunnr">Urðarbrunnr</a> in the heavens, one to the spring
				<a href="https://en.wikipedia.org/wiki/Hvergelmir" target="_blank" title="Hvergelmir">Hvergelmir</a>, and another to the well
				<a href="https://en.wikipedia.org/wiki/M%C3%ADmisbrunnr" target="_blank" title="Mímisbrunnr">Mímisbrunnr</a>. Creatures live within Yggdrasil, including the dragon
				<a href="https://en.wikipedia.org/wiki/N%C3%AD%C3%B0h%C3%B6ggr" target="_blank" title="Níðhöggr">Níðhöggr</a>, an
				<a href="https://en.wikipedia.org/wiki/Ve%C3%B0rf%C3%B6lnir_and_eagle" target="_blank" title="Veðrfölnir and eagle">unnamed eagle</a>, and the stags
				<a href="https://en.wikipedia.org/wiki/D%C3%A1inn,_Dvalinn,_Duneyrr_and_Dura%C3%BEr%C3%B3r" target="_blank" title="Dáinn, Dvalinn, Duneyrr and Duraþrór">Dáinn, Dvalinn, Duneyrr and Duraþrór</a>.</p>
			<p>Conflicting scholarly theories have been proposed about the etymology of the name
				<i>
					<span lang="non" xml:lang="non">Yggdrasill</span>
				</i>, the possibility that the tree is of another species than ash, its connection to the many
				<a href="https://en.wikipedia.org/wiki/Sacred_trees_and_groves_in_Germanic_paganism_and_mythology" target="_blank" title="Sacred trees and groves in Germanic paganism and mythology">sacred trees and groves in Germanic paganism and mythology</a>, and the fate of Yggdrasil during the events of
				<a href="https://en.wikipedia.org/wiki/Ragnar%C3%B6k" target="_blank" title="Ragnarök">Ragnarök</a>.</p>
			<a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Yggdrasil" role="button" target="_blank">View details »</a>
		</div>
	</div>
	<hr/>
</div>
{{/extend}}