footer.container
    p.pull-left © 2018 Yggdrasil
    ul.pull-right.list-inline
      li
        a(href='https://github.com/yggdrasilts/yggdrasil') GitHub Project
      li
        a(href='https://github.com/yggdrasilts/yggdrasil/issues') Issues