footer.container.py-5
	.row
		.col-12.col-md
			svg.d-block.mb-2(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
				circle(cx="12" cy="12" r="10")
				line(x1="14.31" y1="8" x2="20.05" y2="17.94")
				line(x1="9.69" y1="8" x2="21.17" y2="8")
				line(x1="7.38" y1="12" x2="13.12" y2="2.06")
				line(x1="9.69" y1="16" x2="3.95" y2="6.06")
				line(x1="14.31" y1="16" x2="2.83" y2="16")
				line(x1="16.62" y1="12" x2="10.88" y2="21.94")
			small.d-block.mb-3.text-muted © 2018 Yggdrasil
		.col-6.col-md
			h5 Project
			ul.list-unstyled.text-small
				li
					a.text-muted(href='https://github.com/yggdrasilts/yggdrasil' target="_blank") GitHub
				li
					a.text-muted(href='https://github.com/yggdrasilts/yggdrasil/issues' target="_blank") Issues
		.col-6.col-md
			h5 Main Resources
			ul.list-unstyled.text-small
				li
					a.text-muted(href="https://www.typescriptlang.org/" target="_blank") Typescript
				li
					a.text-muted(href="https://getbootstrap.com/" target="_blank") Bootstrap
				li
					a.text-muted(href="http://expressjs.com/" target="_blank") Expressjs
				li
					a.text-muted(href="https://pugjs.org/api/getting-started.html" target="_blank") Pugjs
		.col-6.col-md
			h5 Test Resources
			ul.list-unstyled.text-small
				li
					a.text-muted(href="https://mochajs.org/" target="_blank") Mochajs
				li
					a.text-muted(href="http://chaijs.com/" target="_blank") Chaijs
		.col-6.col-md
			h5 About
			ul.list-unstyled.text-small
				li
					a.text-muted(href="https://github.com/telco2011" target="_blank") Author