<footer class="container">
  <p class="pull-left">© 2018 Yggdrasil</p>
  <ul class="pull-right list-inline">
    <li><a href="https://github.com/yggdrasilts/yggdrasil">GitHub Project</a></li>
    <li><a href="https://github.com/yggdrasilts/yggdrasil/issues">Issues</a></li>
  </ul>
</footer>