<footer class="container py-5">
	<div class="row">
		<div class="col-12 col-md">
			<svg class="d-block mb-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor"
			    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<circle cx="12" cy="12" r="10"></circle>
				<line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
				<line x1="9.69" y1="8" x2="21.17" y2="8"></line>
				<line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
				<line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
				<line x1="14.31" y1="16" x2="2.83" y2="16"></line>
				<line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
			</svg>
			<small class="d-block mb-3 text-muted">© 2018 Yggdrasil</small>
		</div>
		<div class="col-6 col-md">
			<h5>Project</h5>
			<ul class="list-unstyled text-small">
				<li>
					<a class="text-muted" href="https://github.com/yggdrasilts/yggdrasil" target="_blank">GitHub</a>
				</li>
				<li>
					<a class="text-muted" href="https://github.com/yggdrasilts/yggdrasil/issues" target="_blank">Issues</a>
				</li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Main Resources</h5>
			<ul class="list-unstyled text-small">
				<li>
					<a class="text-muted" href="https://www.typescriptlang.org/" target="_blank">Typescript</a>
				</li>
				<li>
					<a class="text-muted" href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
				</li>
				<li>
					<a class="text-muted" href="http://expressjs.com/" target="_blank">Expressjs</a>
				</li>
				<li>
					<a class="text-muted" href="https://pugjs.org/api/getting-started.html" target="_blank">Pugjs</a>
				</li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Test Resources</h5>
			<ul class="list-unstyled text-small">
				<li>
					<a class="text-muted" href="https://mochajs.org/" target="_blank">Mochajs</a>
				</li>
				<li>
					<a class="text-muted" href="http://chaijs.com/" target="_blank">Chaijs</a>
				</li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>About</h5>
			<ul class="list-unstyled text-small">
				<li>
					<a class="text-muted" href="https://github.com/telco2011" target="_blank">Author</a>
				</li>
			</ul>
		</div>
	</div>
</footer>