extends layout

block content
  section.jumbotron.text-center
    .container
      h1.jumbotron-heading Contact
      p.lead.text-muted
        | Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.
      p
        a.btn.btn-primary.my-2(href="#") Button A
        a.btn.btn-secondary.my-2(href="#") Button B