extends layout

block content
	section.jumbotron.text-center
		.container
			h1.jumbotron-heading Contact Form
			p.lead.text-muted
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut congue mi urna, hendrerit lacinia ipsum facilisis a. Vivamus tincidunt lacus eget justo cursus cursus. In auctor velit neque, vel semper mi euismod ac.
			.col-md
				.form-area
					form(role="form" action="/views/sendContactInfo" method="POST")
						.form-group
							input#name.form-control(type="text" name="name" placeholder="Name" required="")
						.form-group
							input#email.form-control(type="text" name="email" placeholder="Email" required="")
						.form-group
							input#mobile.form-control(type="text" name="mobile" placeholder="Mobile Number" required="")
						.form-group
							input#subject.form-control(type="text" name="subject" placeholder="Subject" required="")
						.form-group
							textarea#message.form-control(type="textarea" placeholder="Message" maxlength="140" rows="7")
						button#submit.btn.btn-primary.pull-right(type="submit" name="submit") Send Form