extends layout

block content
	.jumbotron
		.container
			h1.display-4 Yggdrasil PUG Starter
			p This application is made with @yggdrasilts architecture and PUG expressjs view engine.
	.container
		.row
			.col-md
				p
					b Yggdrasil
					|  (
					span.nowrap
						span.IPA.nopopups.noexcerpt
							a(href="https://en.wikipedia.org/wiki/Help:IPA/English" title="Help:IPA/English" target="_blank")
								| /
								span(style="border-bottom:1px dotted")
									span(title="/ˈ/: primary stress follows") ˈ
									span(title="/ɪ/: 'i' in 'kit'") ɪ
									span(title="/ɡ/: 'g' in 'guy'") ɡ
									span(title="'d' in 'dye'") d
									span(title="'r' in 'rye'") r
									span(title="/ə/: 'a' in 'about'") ə
									span(title="'s' in 'sigh'") s
									span(title="/ɪ/: 'i' in 'kit'") ɪ
									span(title="'l' in 'lie'") l
								| /
					|  or&nbsp;
					span.nowrap
						span.IPA.nopopups.noexcerpt
							a(href="https://en.wikipedia.org/wiki/Help:IPA/English" title="Help:IPA/English" target="_blank")
								| /
								span(style="border-bottom:1px dotted")
									span(title="/ˈ/: primary stress follows") ˈ
									span(title="/ɪ/: 'i' in 'kit'") ɪ
									span(title="/ɡ/: 'g' in 'guy'") ɡ
									span(title="'d' in 'dye'") d
									span(title="'r' in 'rye'") r
									span(title="/ə/: 'a' in 'about'") ə
									span(title="'z' in 'zoom'") z
									span(title="/ɪ/: 'i' in 'kit'") ɪ
									span(title="'l' in 'lie'") l
								| /
					| ; from&nbsp;
					a(href="https://en.wikipedia.org/wiki/Old_Norse" title="Old Norse" target="_blank") Old Norse&nbsp;
					b
						i
							span(lang="non" xml:lang="non") Yggdrasill
					| , pronounced&nbsp;
					span.IPA(title="Representation in the International Phonetic Alphabet (IPA)")
						a(href="https://en.wikipedia.org/wiki/Help:IPA" title="Help:IPA" target="_blank") [ˈyɡːˌdrasilː]
					| ) is an immense&nbsp;
					a(href="https://en.wikipedia.org/wiki/Trees_in_mythology" title="Trees in mythology" target="_blank") mythical tree
					|  that connects the nine worlds in&nbsp;
					a(href="https://en.wikipedia.org/wiki/Norse_cosmology" title="Norse cosmology" target="_blank") Norse cosmology
					| .
				p
					| Yggdrasil is attested in the&nbsp;
					i
						a(href="https://en.wikipedia.org/wiki/Poetic_Edda" title="Poetic Edda" target="_blank") Poetic Edda
					| , compiled in the 13th century from earlier traditional sources, and the&nbsp;
					i
						a(href="https://en.wikipedia.org/wiki/Prose_Edda" title="Prose Edda" target="_blank") Prose Edda
					| , written in the 13th century by&nbsp;
					a(href="https://en.wikipedia.org/wiki/Snorri_Sturluson" title="Snorri Sturluson" target="_blank") Snorri Sturluson
					| . In both sources, Yggdrasil is an immense&nbsp;
					a(href="https://en.wikipedia.org/wiki/Fraxinus_excelsior" title="Fraxinus excelsior" target="_blank") ash tree
					|  that is center to the cosmos and considered very holy. The&nbsp;
					a(href="https://en.wikipedia.org/wiki/%C3%86sir" title="Æsir" target="_blank") gods
					|  go to Yggdrasil daily to assemble at their&nbsp;
					a(href="https://en.wikipedia.org/wiki/Thing_(assembly)" title="Thing (assembly)" target="_blank") things
					| . The branches of Yggdrasil extend far into the heavens, and the tree is supported by three roots that extend far away into other locations; one to the well&nbsp;
					a(href="https://en.wikipedia.org/wiki/Ur%C3%B0arbrunnr" title="Urðarbrunnr" target="_blank") Urðarbrunnr
					|  in the heavens, one to the spring&nbsp;
					a(href="https://en.wikipedia.org/wiki/Hvergelmir" title="Hvergelmir" target="_blank") Hvergelmir
					| , and another to the well&nbsp;
					a(href="https://en.wikipedia.org/wiki/M%C3%ADmisbrunnr" title="Mímisbrunnr" target="_blank") Mímisbrunnr
					| . Creatures live within Yggdrasil, including the dragon&nbsp;
					a(href="https://en.wikipedia.org/wiki/N%C3%AD%C3%B0h%C3%B6ggr" title="Níðhöggr" target="_blank") Níðhöggr
					| , an&nbsp;
					a(href="https://en.wikipedia.org/wiki/Ve%C3%B0rf%C3%B6lnir_and_eagle" title="Veðrfölnir and eagle" target="_blank") unnamed eagle
					| , and the stags&nbsp;
					a(href="https://en.wikipedia.org/wiki/D%C3%A1inn,_Dvalinn,_Duneyrr_and_Dura%C3%BEr%C3%B3r" title="Dáinn, Dvalinn, Duneyrr and Duraþrór" target="_blank") Dáinn, Dvalinn, Duneyrr and Duraþrór
					| .
				p
					| Conflicting scholarly theories have been proposed about the etymology of the name
					i
						span(lang="non" xml:lang="non") Yggdrasill
					| , the possibility that the tree is of another species than ash, its connection to the many&nbsp;
					a(href="https://en.wikipedia.org/wiki/Sacred_trees_and_groves_in_Germanic_paganism_and_mythology" title="Sacred trees and groves in Germanic paganism and mythology" target="_blank") sacred trees and groves in Germanic paganism and mythology
					| , and the fate of Yggdrasil during the events of&nbsp;
					a(href="https://en.wikipedia.org/wiki/Ragnar%C3%B6k" title="Ragnarök" target="_blank") Ragnarök
					| .
					br
					br
					br
					a.btn.btn-secondary(href="https://en.wikipedia.org/wiki/Yggdrasil" role="button" target="_blank") View details »
		hr