extends layout

block content
  .jumbotron
    .container
      h1.display-3 Yggdrasil Starter
      p This application is made with @yggdrasil architecture and PUG expressjs view engine.
  .container
    .row
      .col-md
        p
          b Yggdrasil
          |  (
          span.nowrap
            span.IPA.nopopups.noexcerpt
              a(href="/wiki/Help:IPA/English" title="Help:IPA/English")
                | /
                span(style="border-bottom:1px dotted")
                  span(title="/ˈ/: primary stress follows") ˈ
                  span(title="/ɪ/: 'i' in 'kit'") ɪ
                  span(title="/ɡ/: 'g' in 'guy'") ɡ
                  span(title="'d' in 'dye'") d
                  span(title="'r' in 'rye'") r
                  span(title="/ə/: 'a' in 'about'") ə
                  span(title="'s' in 'sigh'") s
                  span(title="/ɪ/: 'i' in 'kit'") ɪ
                  span(title="'l' in 'lie'") l
                | /
          |  or
          span.nowrap
            span.IPA.nopopups.noexcerpt
              a(href="/wiki/Help:IPA/English" title="Help:IPA/English")
                | /
                span(style="border-bottom:1px dotted")
                  span(title="/ˈ/: primary stress follows") ˈ
                  span(title="/ɪ/: 'i' in 'kit'") ɪ
                  span(title="/ɡ/: 'g' in 'guy'") ɡ
                  span(title="'d' in 'dye'") d
                  span(title="'r' in 'rye'") r
                  span(title="/ə/: 'a' in 'about'") ə
                  span(title="'z' in 'zoom'") z
                  span(title="/ɪ/: 'i' in 'kit'") ɪ
                  span(title="'l' in 'lie'") l
                | /
          | ; from
          a(href="/wiki/Old_Norse" title="Old Norse") Old Norse
          b
            i
              span(lang="non" xml:lang="non") Yggdrasill
          | , pronounced
          span.IPA(title="Representation in the International Phonetic Alphabet (IPA)")
            a(href="/wiki/Help:IPA" title="Help:IPA") [ˈyɡːˌdrasilː]
          | ) is an immense
          a(href="/wiki/Trees_in_mythology" title="Trees in mythology") mythical tree
          |  that connects the nine worlds in
          a(href="/wiki/Norse_cosmology" title="Norse cosmology") Norse cosmology
          | .
        p
          | Yggdrasil is attested in the
          i
            a(href="/wiki/Poetic_Edda" title="Poetic Edda") Poetic Edda
          | , compiled in the 13th century from earlier traditional sources, and the
          i
            a(href="/wiki/Prose_Edda" title="Prose Edda") Prose Edda
          | , written in the 13th century by
          a(href="/wiki/Snorri_Sturluson" title="Snorri Sturluson") Snorri Sturluson
          | . In both sources, Yggdrasil is an immense
          a(href="/wiki/Fraxinus_excelsior" title="Fraxinus excelsior") ash tree
          |  that is center to the cosmos and considered very holy. The
          a(href="/wiki/%C3%86sir" title="Æsir") gods
          |  go to Yggdrasil daily to assemble at their
          a(href="/wiki/Thing_(assembly)" title="Thing (assembly)") things
          | . The branches of Yggdrasil extend far into the heavens, and the tree is supported by three roots that extend far away into other locations; one to the well
          a(href="/wiki/Ur%C3%B0arbrunnr" title="Urðarbrunnr") Urðarbrunnr
          |  in the heavens, one to the spring
          a(href="/wiki/Hvergelmir" title="Hvergelmir") Hvergelmir
          | , and another to the well
          a(href="/wiki/M%C3%ADmisbrunnr" title="Mímisbrunnr") Mímisbrunnr
          | . Creatures live within Yggdrasil, including the dragon
          a(href="/wiki/N%C3%AD%C3%B0h%C3%B6ggr" title="Níðhöggr") Níðhöggr
          | , an
          a(href="/wiki/Ve%C3%B0rf%C3%B6lnir_and_eagle" title="Veðrfölnir and eagle") unnamed eagle
          | , and the stags
          a(href="/wiki/D%C3%A1inn,_Dvalinn,_Duneyrr_and_Dura%C3%BEr%C3%B3r" title="Dáinn, Dvalinn, Duneyrr and Duraþrór") Dáinn, Dvalinn, Duneyrr and Duraþrór
          | .
        p
          | Conflicting scholarly theories have been proposed about the etymology of the name
          i
            span(lang="non" xml:lang="non") Yggdrasill
          | , the possibility that the tree is of another species than ash, its connection to the many
          a(href="/wiki/Sacred_trees_and_groves_in_Germanic_paganism_and_mythology" title="Sacred trees and groves in Germanic paganism and mythology") sacred trees and groves in Germanic paganism and mythology
          | , and the fate of Yggdrasil during the events of
          a(href="/wiki/Ragnar%C3%B6k" title="Ragnarök") Ragnarök
          | .
          hr
          hr
          hr
          a.btn.btn-secondary(href="https://en.wikipedia.org/wiki/Yggdrasil" role="button" target="_blank") View details »
    hr